In [2]:
import numpy as np
import pandas as pd
import subprocess
import time


import matplotlib.patches as patches
%matplotlib inline
import matplotlib.pyplot as plt

In [46]:

xd0 = pd.read_csv('/home/asus/Proof1.csv',names=['L5H','M12','g','tb','mt','mh1','mh2','mA','mch',
                         'L1','L2','L3','L4','L5','s(b-a)','B1','B2','B3','B4','s(b-a1)'],dtype={5:str,6:str,7:str})

In [47]:
xd0['mh1']=xd0['mh1'].apply(lambda s: eval(str(s)) if str(s).find('I')==-1 else 0)

In [48]:
xd0

,L5H,M12,g,tb,mt,mh1,mh2,mA,mch,L1,L2,L3,L4,L5,s(b-a),B1,B2,B3,B4,s(b-a1)
0,-0.20,-10000,0.53,2,171.812113,226.738594,81.04696198976359,198.69575720435142,208.633398,0.159400,0.300747,0.123776,-0.373055,-0.239276,0.423392,1,1,1,0,0.423392
1,-0.20,-100000,0.53,2,171.812113,115.959062,519.1651913679552,514.276194209892,518.196772,0.159400,0.300747,0.123776,-0.373055,-0.239276,0.067318,1,1,1,0,0.997732
2,-0.20,-1000000,0.53,2,171.812113,120.369629,1586.9751581163346,1585.711198147699,1586.987049,0.159400,0.300747,0.123776,-0.373055,-0.239276,0.006869,1,1,1,0,0.999976
3,-0.19,-10000,0.53,2,171.812114,225.584166,84.60368823137354,196.4903277917413,206.981789,0.160333,0.301213,0.124808,-0.364771,-0.224874,0.426343,1,1,1,0,0.426343
4,-0.19,-100000,0.53,2,171.812114,118.265051,518.7093384759646,513.4281341295059,517.534019,0.160333,0.301213,0.124808,-0.364771,-0.224874,0.066263,1,1,1,0,0.997802
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,-0.01,-100000,0.53,2,171.812117,142.781998,513.0197862223554,500.65153095834887,509.195502,0.167777,0.304831,0.132648,-0.295924,-0.010773,0.052417,1,1,1,1,0.998625
59,-0.01,-1000000,0.53,2,171.812117,144.875702,1585.1142012811983,1581.344983060603,1584.070724,0.167777,0.304831,0.132648,-0.295924,-0.010773,0.005101,1,1,1,1,0.999987
60,0.00,-10000,0.53,2,171.812117,210.200480,119.97398902085328,158.11388300841898,184.252040,0.167795,0.304839,0.132666,-0.295750,0.000000,0.480326,1,1,1,1,0.480326
61,0.00,-100000,0.53,2,171.812117,143.579606,512.7990802108386,500.,508.870135,0.167795,0.304839,0.132666,-0.295750,0.000000,0.051857,1,1,1,1,0.998655
62,0.00,-1000000,0.53,2,171.812117,145.614457,1585.047138075587,1581.1388300841897,1583.966166,0.167795,0.304839,0.132666,-0.295750,0.000000,0.005038,1,1,1,1,0.999987

In [49]:
xd0.to_csv('/home/asus/proof1.csv')

In [9]:
TH=pd.read_csv('/home/asus/proof.csv')

In [10]:
TH.columns

Index(['Unnamed: 0', 'L5H', 'M12', 'g', 'tb', 'mt', 'mh1', 'mh2', 'mA', 'mch',
       'L1', 'L2', 'L3', 'L4', 'L5', 's(b-a)', 'B1', 'B2', 'B3', 'B4',
       's(b-a1)'],
      dtype='object')

In [50]:
import pyslha
import pyTHDM_LesHouches_generator
import sys
import time

In [52]:
Num = xd0.shape[0]
t1=time.time() 
x=[]

for i in range (0,Num):
    L5H= xd0['L5H'][i] 
    g=0.53
    tb= xd0['tb'][i] 
    mt= xd0['mt'][i] 
    mh1= xd0['mh1'][i] 
    mh2= xd0['mh2'][i] 
    mA= xd0['mA'][i] 
    mch= xd0['mch'][i]
    sba= xd0['s(b-a)'][i] 
    B1= xd0['B1'][i] 
    B2= xd0['B2'][i] 
    B3= xd0['B3'][i] 
    B4= xd0['B4'][i] 
    L1 = xd0['L1'][i] 
    L2 = xd0['L2'][i]
    L3 = xd0['L3'][i]
    L4 = xd0['L4'][i]
    L5 = xd0['L5'][i]
    M12 = xd0['M12'][i]
    sba1 = xd0['s(b-a1)'][i]
    if i%10000==0:
        print(i)
        #124.68,125.52
    if  0<mh1 and 171.7<mt<174.1 and B1==1 and B2==1 and B3==1 and B4==1:
        
        #corro higgsbounds 74825 65631
        #Open the file that will created the LesHouches file
        xdict = pyTHDM_LesHouches_generator.buildSLHAinFile()

        xdict.blocks['MINPAR'].entries[1]='%.6E    # Lambda1Input'%L1
        xdict.blocks['MINPAR'].entries[2]='%.6E    # Lambda2Input'%L2
        xdict.blocks['MINPAR'].entries[3]='%.6E    # Lambda3Input'%L3
        xdict.blocks['MINPAR'].entries[4]='%.6E    # Lambda4Input'%L4
        xdict.blocks['MINPAR'].entries[5]='%.6E    # Lambda5Input'%L5
        xdict.blocks['MINPAR'].entries[9]='%.6E    # M12inputt'%M12
        xdict.blocks['MINPAR'].entries[10]='%.6E    # TanBeta' %tb

        #Write and created the Leshouches file generator and closed
        pyslha.writeSLHAFile('LesHouches.in.THDMII_low',xdict)  

        #run SPheno
        spheno = subprocess.getoutput('/home/asus/Documentos/SPheno-4.0.4/bin/./SPhenoTHDMII LesHouches.in.THDMII_low')  
        #              
        SPheno_output = subprocess.getoutput('cat SPheno.spc.THDMII')

        #capturo algo de spheno
        #MASAS
        MH1 = eval(SPheno_output.split('#   PDG code')[1].split()[3])
        MH2 = eval(SPheno_output.split('#   PDG code')[1].split()[7])
        MAH = eval(SPheno_output.split('#   PDG code')[1].split()[11])
        MHM = eval(SPheno_output.split('#   PDG code')[1].split()[15])
        #print("========== MASAS ==============")
        #print("mh1=",mh1,"mh2=",mh2,"mAh=",mAh,"mHm=",mHm)
        #print("===============================\n")

        #Couplings
        h1bb = eval(SPheno_output.split('HiggsCouplingsFermions')[1].split()[1])
        h1tt = eval(SPheno_output.split('# h_1 s s coupling')[1].split()[0])
        h1tautau = eval(SPheno_output.split('# h_1 c c coupling')[1].split()[0])
        h1VV = eval(SPheno_output.split('HiggsCouplingsBosons')[1].split()[1])

        #print("============ Couplings ================")
        #print("chbb=",h1bb,"chtt=",h1tt,"chtautau=",h1tautau,"hVV=",h1VV)
        #print("============================\n")

        #RUN Higgsbounds

        #copio los archivos a la carpeta Input_files
        subprocess.getoutput('cp Messages.out effC.dat BR* Key.dat LesHouches.in.THDMII_low MH* SPheno.spc.THDMII Input_Files/')
        #run HiggsBounds
        hb = subprocess.getoutput('/home/asus/Documentos/HiggsBounds-5.3.2beta/./HiggsBounds LandH effC 3 1 /home/asus/Documentos/THDM-II/Input_Files/')
        #                            
        #Capturo lo que necesito del archivo de resultados
        HB_results = subprocess.getoutput('cat Input_Files/HiggsBounds_results.dat')
        HBresult = eval(HB_results.split('cols:')[1].split()[15])
        #print("HBresult=",HBresult)
       
    else:
        MH1 = 0
        MH2 = 0
        MAH = 0
        MHM = 0
        h1bb = 0
        h1tt = 0
        h1tautau = 0
        h1VV = 0
        HBresult = 0  
   
    x.append([ L5H,M12,g,tb,mt,mh1,MH1,mh2,MH2,mA,MAH,mch,MHM,L1,L2,L3,L4,
              L5,sba,h1VV,h1bb,h1tt,h1tautau,B1,B2,B3,B4,HBresult,sba1])

x=np.asarray(x)
#Write the output
xd=pd.DataFrame(x,columns=['L5H','M12','g','tb','mt','mh1','MH1','mh2','MH2','mA','MA','mch','MCH',
                           'L1','L2','L3','L4','L5','s(b-a)','h1VV','h1bb','h1tt','h1tautau',
                           'B1','B2','B3','B4','HBresult','s(b-a1)'])  
xd.to_csv('/home/asus/PRF.csv',index=False)
t2=time.time() 
print ("The program spent", t2-t1, "s running",Num,"times")

0
The program spent 92.50016021728516 s running 63 times

In [17]:
nw=pd.read_csv('/home/asus/NewAll.csv')

In [18]:
nw.columns

Index(['L5H', 'M12', 'g', 'tb', 'mt', 'mh12', 'MH1', 'MH2', 'MA', 'MCH', 'L1',
       'L2', 'L3', 'L4', 'L5', 's(b-a)', 'h1VV', 'h1bb', 'h1tt', 'h1tautau',
       'B1', 'B2', 'B3', 'B4', 'HBresult', 's(b-a1)', 'mh22', 'mA2', 'mch2'],
      dtype='object')

In [19]:
nw

,L5H,M12,g,tb,mt,mh12,MH1,MH2,MA,MCH,...,h1tautau,B1,B2,B3,B4,HBresult,s(b-a1),mh22,mA2,mch2
0,0.501,-10000.000000,0.53,2.05,172.645480,35384.129093,0.0,0.0,0.0,0.0,...,0.0,0,1,0,0,0,NaN,8.640610e+03,-1.000000e+00,2.561543e+04
1,0.501,-10232.929923,0.53,2.05,172.645480,35886.355999,0.0,0.0,0.0,0.0,...,0.0,0,1,0,0,0,NaN,8.729514e+03,-1.000000e+00,2.620657e+04
2,0.501,-10471.285481,0.53,2.05,172.645480,36403.632742,0.0,0.0,0.0,0.0,...,0.0,0,1,0,0,0,NaN,8.817137e+03,-1.000000e+00,2.681147e+04
3,0.501,-10715.193052,0.53,2.05,172.645480,36936.306406,0.0,0.0,0.0,0.0,...,0.0,0,1,0,0,0,NaN,8.903453e+03,-1.000000e+00,2.743045e+04
4,0.501,-10964.781961,0.53,2.05,172.645480,37484.728620,0.0,0.0,0.0,0.0,...,0.0,0,1,0,0,0,NaN,8.988439e+03,-1.000000e+00,2.806386e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1162580,0.000,-912010.839356,0.53,2.00,171.812117,21197.824530,0.0,0.0,0.0,0.0,...,0.0,1,1,1,1,0,NaN,2.292407e+06,2.280027e+06,2.288976e+06
1162581,0.000,-933254.300797,0.53,2.00,171.812117,21199.409212,0.0,0.0,0.0,0.0,...,0.0,1,1,1,1,0,NaN,2.345514e+06,2.333136e+06,2.342085e+06
1162582,0.000,-954992.586021,0.53,2.00,171.812117,21200.957554,0.0,0.0,0.0,0.0,...,0.0,1,1,1,1,0,NaN,2.399858e+06,2.387481e+06,2.396430e+06
1162583,0.000,-977237.220956,0.53,2.00,171.812117,21202.470395,0.0,0.0,0.0,0.0,...,0.0,1,1,1,1,0,NaN,2.455469e+06,2.443093e+06,2.452042e+06
1162584,0.000,-1000000.000000,0.53,2.00,171.812117,21203.948554,0.0,0.0,0.0,0.0,...,0.0,1,1,1,1,0,NaN,2.512374e+06,2.500000e+06,2.508949e+06